[user]
	email = m.smissen@outlook.com
	name = Maxine van der Smissen
[alias]
	stats = !git graph --stat
	diffname = !git diff --name-only
	undocommit = reset --soft HEAD~1
	log-small = log --oneline --no-merges
	st = status -sb
	co = checkout
	br = branch --format=\"%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:red)%(upstream:track) %(color:green)(%(committerdate:relative))%(color:reset) [%(authorname)]\" --sort=-committerdate
	ci = commit
	last = log -1 HEAD --stat
	ap = add -p
	unstage = restore --staged
	ca = commit --amend
	ll = log --oneline
	alias = config --get-regexp ^alias\\.
	l = log -1 HEAD --oneline
[core]
	autocrlf = input
	editor = vim
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
